<!DOCTYPE html>
<meta charset="utf-8">
<link rel="stylesheet" href="/io.css">

</style>
<title>{{ page.title }}</title>
<h1><a href="/">Not Addressed to Me</a></h1>

<div id="sidebar">
  <p> I have an email address on a popular email hoster that a lot of people think is theirs, or that other people think is their friends and family.

  <p> Here, I am documenting the more entertaining ones, anonymised, to protect the innocent.

  <p><a href="http://twitter.com/janl">❧</a></p>

</div>

<blockquote>{{ content }}</blockquote>


<script type="text/javascript">
  var _gauges = _gauges || [];
  (function() {
    var t   = document.createElement('script');
    t.type  = 'text/javascript';
    t.async = true;
    t.id    = 'gauges-tracker';
    t.setAttribute('data-site-id', '4f986210613f5d21ed00004c');
    t.src = '//secure.gaug.es/track.js';
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(t, s);
  })();
</script>